<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MMO_NETWORK_LAUNCHER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="LauncherGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log\\LauncherGame.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ServerAutorize" value="127.0.0.1" />
    <add key="WebServer" value="127.0.0.1" />
    <add key="DebugMode" value="0" />
    <add key="EnableProfiles" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <MMO_NETWORK_LAUNCHER.Properties.Settings>
      <setting name="AionPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Lineage2Path" serializeAs="String">
        <value />
      </setting>
      <setting name="PointBlankPath" serializeAs="String">
        <value />
      </setting>
      <setting name="WowPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginRemember" serializeAs="String">
        <value />
      </setting>
    </MMO_NETWORK_LAUNCHER.Properties.Settings>
    <LauncherGame.Properties.Settings>
      <setting name="AionPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Lineage2Path" serializeAs="String">
        <value />
      </setting>
      <setting name="PointBlankPath" serializeAs="String">
        <value />
      </setting>
      <setting name="WowPath" serializeAs="String">
        <value />
      </setting>
    </LauncherGame.Properties.Settings>
  </userSettings>
</configuration>